.footer{  
    background-color: #282c34;  
    color: white;  
    text-align: center;  
    padding: 12px;  
    width: 100%;
}
 
.footer-links {  
    margin: 10px 0;  
}
  
.footer-link{
    color: white;
    text-decoration: none;  
    margin: 0 10px;
}

.footer-link:hover{
    text-decoration: none;
    color: orange;
}

@media screen and (max-width: 840px){
    .footer{
        padding-bottom: 130px;
        margin-top: 100px;
    }
}